In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import numpy as np
import pandas as pd
pd.set_option('use_inf_as_na', True)
import csv
from datetime import datetime
import re

In [0]:
### ADDED DATA INTO DATA FOLDER ON GDRIVE ###
path_to_file = '/content/drive/My Drive/data/TwitterFeeds-master/'

**Lets start with user data and their features - any featured created using the tweet data can be joined later**

So this includes the 5000 accounts randomly sampled from our 'climate emergency' dataset and 18000 accounts which have been labelled as either bots or genuine users. (source?) The next steps are:

- Load in the data and standardise columns - are there features that aren't in both and that we can find?
- Apply the features we have created in relation to the user account details - again we can create more of these

**Load in the tweet data (most 200 recent tweets ~ March 2020 for our sample, then variety for our training)**

- Load in the tweet data for both samples and standardise columns etc
- Apply the tweet based features we have created 
- Join these back to the user data - for example average words per tweet for each user etc
- We can now apply a variety of supervised and unsupervised algorithms to the training data to apply to our random sample of 5000 users who contributed to the climate emergency debate during the time we collected data.
- Literature suggests that unsupervised methods often produce better results: 
 - fast greedy (Cresci et al., 2017)
 - digital DNA (Cresci et al., 2016)
 - graph clustering (Ahmed et al., 2013)
 
Happy hunting!

**Data folder in gdrive**

- *5000_accounts_climate.csv* - the 5000 accounts from climate emergency with user features
- *5000_tweets_climate.csv* - most recent 200 tweets from the 5000 accounts 
- *5000_tweets_frequency.csv* - features based on tweet frequency from the tweets of 5000 users
- *training_users_tag.csv* - this is now the 18000 training data we have tweet data on as well
- *training_tweets.txt* - most recent 200 tweets from the 18000 accounts columns = ['dt','text','tweetid','username']

In [0]:
# load in the 5000 users without additional features
users_5000 = pd.read_csv(path_to_file + "5000_accounts_climate.csv")
users_5000.head(1)

                    id  ... default_profile_image
0  1098803589609189376  ...                 False

[1 rows x 14 columns]

In [0]:
# These are the accounts (from training_users_tag) which we could source tweet data from training_tweets_tag
users_train = pd.read_csv(path_to_file + "training_users_tag.csv")
users_train.head(1)

   Unnamed: 0   id  ... tag_spambot tag_traditional_spambot
0           0  418  ...         0.0                     0.0

[1 rows x 39 columns]

In [0]:
# See what columns match
a = users_5000.columns
b = users_train.columns

missing = list(set(a) - set(b))
print(missing,'are not in the training data!')

['username', 'verified', 'friends', 'followers'] are not in the training data!

 - username = screen_name
 - followers = followers_count
 - no verified field
 - friends = friends_count

In [0]:
# lets add the missing columns to our matches variable
matches = list(set(a) & set(b))
matches = matches + ['screen_name','followers_count','friends_count']

In [0]:
matches

['name',
 'description',
 'location',
 'created_at',
 'default_profile_image',
 'favourites_count',
 'statuses_count',
 'default_profile',
 'id',
 'url',
 'screen_name',
 'followers_count',
 'friends_count']

In [0]:
# add the tag for just the class - tags for the type of bot
tag = [users_train.columns[-8]]
tags = list(users_train.columns[-8:])

In [0]:
print(tag)
print(tags)

['class']
['class', 'tag_stock', 'tag_politics', 'tag_pronbot', 'tag_business', 'tag_fake_follower', 'tag_spambot', 'tag_traditional_spambot']

In [0]:
# add your choice to 
matches = matches + tag
# apply this to the training data so we have standardised columns
users_train_2 = users_train[matches]
print(users_train_2.columns)
users_train_2.head(1)

Index(['name', 'description', 'location', 'created_at',
       'default_profile_image', 'favourites_count', 'statuses_count',
       'default_profile', 'id', 'url', 'screen_name', 'followers_count',
       'friends_count', 'class'],
      dtype='object')

             name  ...  class
0  Dennis Crowley  ...  human

[1 rows x 14 columns]

In [0]:
# we'll drop verified for now, even though it will be useful - we can add back later.
users_5000_2 = users_5000.drop(columns=['verified'])

In [0]:
# rename the columns to the same
users_train_2.rename(columns={'screen_name': 'username', 'followers_count': 'followers', 'friends_count': 'friends'}, inplace=True)
users_train_2.head(1)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

             name  ...  class
0  Dennis Crowley  ...  human

[1 rows x 14 columns]

**Normalised data pre-processing.**

In [0]:
accounts_train = users_train_2
del users_train_2
print(accounts_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19675 entries, 0 to 19674
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   19673 non-null  object
 1   description            12898 non-null  object
 2   location               11553 non-null  object
 3   created_at             19675 non-null  object
 4   default_profile_image  8185 non-null   object
 5   favourites_count       19675 non-null  int64
 6   statuses_count         19675 non-null  int64
 7   default_profile        12097 non-null  object
 8   id                     19675 non-null  int64
 9   url                    5646 non-null   object
 10  username               19675 non-null  object
 11  followers              19675 non-null  int64
 12  friends                19675 non-null  int64
 13  class                  19675 non-null  object
dtypes: int64(5), object(9)
memory usage: 2.1+ MB
None

In [0]:
accounts_test = users_5000_2
del users_5000_2
print(accounts_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4963 entries, 0 to 4962
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     4963 non-null   int64
 1   name                   4963 non-null   object
 2   username               4963 non-null   object
 3   location               3719 non-null   object
 4   url                    2040 non-null   object
 5   description            4314 non-null   object
 6   followers              4963 non-null   int64
 7   friends                4963 non-null   int64
 8   favourites_count       4963 non-null   int64
 9   statuses_count         4963 non-null   int64
 10  created_at             4963 non-null   object
 11  default_profile        4963 non-null   bool
 12  default_profile_image  4963 non-null   bool
dtypes: bool(2), int64(5), object(6)
memory usage: 436.3+ KB
None

In [0]:
# reorder the columns to be aligned
col_order = accounts_test.columns.tolist()
col_order.extend(['class'])
accounts_train = accounts_train[col_order]
accounts_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19675 entries, 0 to 19674
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     19675 non-null  int64
 1   name                   19673 non-null  object
 2   username               19675 non-null  object
 3   location               11553 non-null  object
 4   url                    5646 non-null   object
 5   description            12898 non-null  object
 6   followers              19675 non-null  int64
 7   friends                19675 non-null  int64
 8   favourites_count       19675 non-null  int64
 9   statuses_count         19675 non-null  int64
 10  created_at             19675 non-null  object
 11  default_profile        12097 non-null  object
 12  default_profile_image  8185 non-null   object
 13  class                  19675 non-null  object
dtypes: int64(5), object(9)
memory usage: 2.1+ MB

In [0]:
print(accounts_train.default_profile.unique())
print(accounts_train.default_profile_image.unique())

['FALSE' nan 'TRUE' '1']
['FALSE' nan 'TRUE' '1']

In [0]:
# convert the boolean values to (0,1), keep NaN
accounts_test['default_profile'] = accounts_test['default_profile']*1
accounts_test['default_profile_image'] = accounts_test['default_profile_image']*1

nan_value = accounts_train.isnull()
accounts_train[['default_profile', 'default_profile_image']] = np.where(accounts_train[['default_profile', 'default_profile_image']].isin(['TRUE', '1']), 1, 0)
accounts_train[nan_value] = np.NaN

In [0]:
print(accounts_test.info())
print(accounts_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4963 entries, 0 to 4962
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     4963 non-null   int64
 1   name                   4963 non-null   object
 2   username               4963 non-null   object
 3   location               3719 non-null   object
 4   url                    2040 non-null   object
 5   description            4314 non-null   object
 6   followers              4963 non-null   int64
 7   friends                4963 non-null   int64
 8   favourites_count       4963 non-null   int64
 9   statuses_count         4963 non-null   int64
 10  created_at             4963 non-null   object
 11  default_profile        4963 non-null   int64
 12  default_profile_image  4963 non-null   int64
dtypes: int64(7), object(6)
memory usage: 504.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19675 entries, 0 to 19674
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     19675 non-null  int64
 1   name                   19673 non-null  object
 2   username               19675 non-null  object
 3   location               11553 non-null  object
 4   url                    5646 non-null   object
 5   description            12898 non-null  object
 6   followers              19675 non-null  int64
 7   friends                19675 non-null  int64
 8   favourites_count       19675 non-null  int64
 9   statuses_count         19675 non-null  int64
 10  created_at             19675 non-null  object
 11  default_profile        12097 non-null  float64
 12  default_profile_image  8185 non-null   float64
 13  class                  19675 non-null  object
dtypes: float64(2), int64(5), object(7)
memory usage: 2.1+ MB
None

So we now have our training data and climate emergency accounts in a normalised format. Next job is to feature engineer both.

In [0]:
accounts_train.head()

      id            name  ... default_profile_image  class
0    418  Dennis Crowley  ...                   0.0  human
1    586     Chris Sacca  ...                   0.0  human
2   8557     Japhy Grant  ...                   0.0  human
3  12522    C.C. Chapman  ...                   0.0  human
4  15913      Larry Hryb  ...                   0.0  human

[5 rows x 14 columns]

In [0]:
accounts_test.head()

                    id  ... default_profile_image
0  1098803589609189376  ...                     0
1            191393940  ...                     0
2  1185167241819676673  ...                     1
3  1220868357647368193  ...                     0
4            347142932  ...                     0

[5 rows x 13 columns]

In [0]:
# create functions for adding features to both datasets - we can add more features as more are developed!

In [0]:
# days since account has been open
accounts_test['date_created'], accounts_test['time'] = accounts_test['created_at'].str.split(' ', 1).str
accounts_test['date_created'] = pd.to_datetime(accounts_test.date_created, format='%Y-%m-%d')
accounts_test['day'] = ('2020-04-11')
accounts_test['day'] = pd.to_datetime(accounts_test.day, format='%Y-%m-%d')
accounts_test['days_active'] = (accounts_test['day'] - accounts_test['date_created']).dt.days

if 'day' in accounts_test:
    accounts_test = accounts_test.drop(columns=['time','day','created_at'])

else:
    accounts_test.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [0]:
# days since account has been open

# deal with UNIX timestamp data
l = accounts_train.created_at.apply(lambda x: x.endswith('L'))
accounts_train.created_at[l] = accounts_train.created_at[l].str.replace('L', '')
d = pd.to_datetime(accounts_train.created_at[l], unit='ms')
d = d.apply(lambda x: datetime.strptime(str(x), '%Y-%m-%d %X').strftime('%Y-%m-%d'))
d = pd.to_datetime(d, format='%Y-%m-%d')
accounts_train.loc[d.index, 'date_created'] = d

# deal with normal format data
accounts_train.created_at[~l] = accounts_train.created_at[~l].apply(lambda x: datetime.strptime(x, '%a %b %d %X %z %Y').strftime('%Y-%m-%d'))
d1 = pd.to_datetime(accounts_train.created_at[~l], format='%Y-%m-%d')
accounts_train.loc[d1.index, 'date_created'] = d1

accounts_train['day'] = pd.to_datetime('2020-04-11', format='%Y-%m-%d')
accounts_train['days_active'] = (accounts_train['day'] - accounts_train['date_created']).dt.days

if 'day' in accounts_train:
    accounts_train = accounts_train.drop(columns=['day','created_at'])

else:
    accounts_train.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [0]:
# social figures in relation to account age
accounts_train['followers_age'] = accounts_train['followers'] / accounts_train['days_active']
accounts_train['following_age'] = accounts_train['friends'] / accounts_train['days_active']
accounts_train['favourites_age'] = accounts_train['favourites_count'] / accounts_train['days_active']
accounts_train['tweets_age'] = accounts_train['statuses_count'] / accounts_train['days_active']

# following to follower ratio
accounts_train['followers_ratio'] = accounts_train['friends'] / accounts_train['followers']

accounts_train.head(3)

     id            name  ... tweets_age followers_ratio
0   418  Dennis Crowley  ...  13.788228        0.030706
1   586     Chris Sacca  ...  14.170086        0.000601
2  8557     Japhy Grant  ...   3.080714        0.038042

[3 rows x 20 columns]

In [0]:
# social figures in relation to account age
accounts_test['followers_age'] = accounts_test['followers'] / accounts_test['days_active']
accounts_test['following_age'] = accounts_test['friends'] / accounts_test['days_active']
accounts_test['favourites_age'] = accounts_test['favourites_count'] / accounts_test['days_active']
accounts_test['tweets_age'] = accounts_test['statuses_count'] / accounts_test['days_active']

# following to follower ratio
accounts_test['followers_ratio'] = accounts_test['friends'] / accounts_test['followers']

accounts_test.head(3)

                    id  ... followers_ratio
0  1098803589609189376  ...        0.676744
1            191393940  ...        1.056214
2  1185167241819676673  ...             NaN

[3 rows x 19 columns]

In [0]:
# username features - can only use A-Z, 0-9 and _ + not case-sensitive
accounts_test['username_char_len'] = accounts_test['username'].str.len()

# length of username in comparison to length of real name
accounts_test['name_ratio'] = accounts_test['name'].str.len() / accounts_test['username'].str.len()
    # amount of numbers in username
username_int = []    
for i in accounts_test['username']:
    numbers = sum(c.isdigit() for c in i)
    username_int.append(numbers)
accounts_test['username_int'] = username_int

    # amount of characters
username_char = []    
for i in accounts_test['username']:
    char = sum(c.isalpha() for c in i)
    username_char.append(char)
accounts_test['username_char'] = username_char

    # underscores 
accounts_test['username_other'] = accounts_test['username_char_len'] - (accounts_test['username_int'] + 
                                                                       accounts_test['username_char'])

# amount of numbers at the end of username if there is any
results = []

for i in accounts_test['username']:
    m = re.search(r'\d+$', i)
    if m is None:
        results.append(0)
    elif m is not None:
        count = m.group()
        results.append(len(count))

accounts_test['username_int_end'] = results

# amount of numbers in display name (not common for real users, but maybe for businesses!)
name_int = []    
for i in accounts_test['name']:
    numbers = sum(c.isdigit() for c in i)
    name_int.append(numbers)
accounts_test['name_int'] = name_int

# is there any cases of bots using techniques to make account details appear real, emoji flags, hashtags etc?
accounts_test.head()

                    id  ... name_int
0  1098803589609189376  ...        0
1            191393940  ...        0
2  1185167241819676673  ...        0
3  1220868357647368193  ...        1
4            347142932  ...        0

[5 rows x 26 columns]

In [0]:
# username features - can only use A-Z, 0-9 and _ + not case-sensitive
accounts_train['username_char_len'] = accounts_train['username'].str.len()

# length of username in comparison to length of real name
accounts_train['name_ratio'] = accounts_train['name'].str.len() / accounts_train['username'].str.len()
    # amount of numbers in username
username_int = []    
for i in accounts_train['username']:
    numbers = sum(c.isdigit() for c in i)
    username_int.append(numbers)
accounts_train['username_int'] = username_int

    # amount of characters
username_char = []    
for i in accounts_train['username']:
    char = sum(c.isalpha() for c in i)
    username_char.append(char)
accounts_train['username_char'] = username_char

    # underscores 
accounts_train['username_other'] = accounts_train['username_char_len'] - (accounts_train['username_int'] + 
                                                                       accounts_train['username_char'])

# amount of numbers at the end of username if there is any
results = []

for i in accounts_train['username']:
    m = re.search(r'\d+$', i)
    if m is None:
        results.append(0)
    elif m is not None:
        count = m.group()
        results.append(len(count))

accounts_train['username_int_end'] = results

# amount of numbers in display name (not common for real users, but maybe for businesses!)
name_int = []    
for i in accounts_train['name']:
  if pd.isnull(i):
    name_int.append(np.NaN)
  else:
    numbers = sum(c.isdigit() for c in i)
    name_int.append(numbers)
accounts_train['name_int'] = name_int

# is there any cases of bots using techniques to make account details appear real, emoji flags, hashtags etc?
accounts_train.head()

      id            name  ... username_int_end name_int
0    418  Dennis Crowley  ...                0      0.0
1    586     Chris Sacca  ...                0      0.0
2   8557     Japhy Grant  ...                0      0.0
3  12522    C.C. Chapman  ...                0      0.0
4  15913      Larry Hryb  ...                0      0.0

[5 rows x 27 columns]

In [0]:
print(accounts_train.info())
print(accounts_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19675 entries, 0 to 19674
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     19675 non-null  int64
 1   name                   19673 non-null  object
 2   username               19675 non-null  object
 3   location               11553 non-null  object
 4   url                    5646 non-null   object
 5   description            12898 non-null  object
 6   followers              19675 non-null  int64
 7   friends                19675 non-null  int64
 8   favourites_count       19675 non-null  int64
 9   statuses_count         19675 non-null  int64
 10  default_profile        12097 non-null  float64
 11  default_profile_image  8185 non-null   float64
 12  class                  19675 non-null  object
 13  date_created           19675 non-null  datetime64[ns]
 14  days_active            19675 non-null  int64
 15  followers_age          19675 non-null  float64
 16  following_age          19675 non-null  float64
 17  favourites_age         19675 non-null  float64
 18  tweets_age             19675 non-null  float64
 19  followers_ratio        19233 non-null  float64
 20  username_char_len      19675 non-null  int64
 21  name_ratio             19673 non-null  float64
 22  username_int           19675 non-null  int64
 23  username_char          19675 non-null  int64
 24  username_other         19675 non-null  int64
 25  username_int_end       19675 non-null  int64
 26  name_int               19673 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(11), object(6)
memory usage: 4.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4963 entries, 0 to 4962
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     4963 non-null   int64
 1   name                   4963 non-null   object
 2   username               4963 non-null   object
 3   location               3719 non-null   object
 4   url                    2040 non-null   object
 5   description            4314 non-null   object
 6   followers              4963 non-null   int64
 7   friends                4963 non-null   int64
 8   favourites_count       4963 non-null   int64
 9   statuses_count         4963 non-null   int64
 10  default_profile        4963 non-null   int64
 11  default_profile_image  4963 non-null   int64
 12  date_created           4963 non-null   datetime64[ns]
 13  days_active            4963 non-null   int64
 14  followers_age          4963 non-null   float64
 15  following_age          4963 non-null   float64
 16  favourites_age         4963 non-null   float64
 17  tweets_age             4963 non-null   float64
 18  followers_ratio        4899 non-null   float64
 19  username_char_len      4963 non-null   int64
 20  name_ratio             4963 non-null   float64
 21  username_int           4963 non-null   int64
 22  username_char          4963 non-null   int64
 23  username_other         4963 non-null   int64
 24  username_int_end       4963 non-null   int64
 25  name_int               4963 non-null   int64
dtypes: datetime64[ns](1), float64(6), int64(14), object(5)
memory usage: 1008.2+ KB
None

**Lets load in the additional features created using the recent tweets of each user**

Don't load in the actual tweets - 5000 + 18000 * 200 = a bit too much

In [0]:
# load in csvs of tweet related features aggregated by username which we can join without loading alot of tweets in

In [0]:
# # tweet_frequency for both datasets
# frequency_5000 = pd.read_csv(path_to_file + '5000_tweets_frequency.csv')
# #frequency_users = pd.read_csv(path_to_file + "training_tweets_frequency.csv")